.main{
    display: grid;
    gap:25px;
    grid-template-columns: 25% 25% 25% 25%;
    border: 1px siolid black;
}

.parent{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.btn{
    background-color: aqua;
    padding: 10px;
}